*
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none !important;
    color: inherit !important;
}

body
{
    font-family: Arial, sans-serif;
    color: #484848;
}

input::placeholder
{
    font-size: 15px;
}

.container
{
    padding-left: 5%;
    padding-right: 5%;
}

.pb-5
{
    padding-bottom: 3rem;
}

.pt-4
{
    padding-top: 1.5rem;
}

.pb-3
{
    padding-bottom: 1rem;
}

.pl-2
{
    padding-left: 0.5rem;
}

.fs-12
{
    font-size: 12px;
}

.header
{
    height: 50px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.header-wrapper
{
    display: flex;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.search-form
{
    display: flex;
    margin-left: auto;
}

.search-form input
{
    padding: 8px;
    width: 200px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.search-form input:focus
{
    outline: none;
}

.search-button
{
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;
    background: #FF5A5F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:focus
{
    outline: none;
}

.files-table
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
}


#files-output .row
{
    cursor: pointer;
}

#files-output .row:first-child
{
    border-top: 1px solid lightgray;
}


#files-output .row:not(:last-child)
{
    border-bottom: 1px solid lightgray;
}


.row
{
    display: flex;
    flex-direction: row;
}

.col
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.row .col
{
    flex: 1;
}

.row .double-col
{
    flex: 2;
}

.col, .double-col
{
    padding: 5px;
}

.dib
{
    display: inline-block;
}

.fileicon
{
    color: #349af0;
}

@media (max-width: 600px)
{
    .header
    {
        height: 80px;
        padding-bottom: 10px;
    }
    .company-logo
    {
        width: 100%;
        text-align: center;
    }
    .search-form
    {
        width: 100%;
    }

    .search-form input
    {
        width: 100%;
    }
    .filesize-col-title
    {
        display: none;
    }
    .filesize-col
    {
        display: none;
    }
}